<!DOCTYPE html>
<html>
<head>
	<title>Aether Nodes</title>
</head>
<body>
	<h1> Something works!</h1>

	<h1>Form</h1>
	<form class='form' action='{{ url_for('index') }}'>
		{{ form.hidden_tag() }}
		{% for field in form %}
			{% if field.errors %}
			{% for error in field.errors %}
				<span class='fielderror'>
					{{ error }}
				</span>
				{% endfor %}
			{% endif %}

			{{ field(placeholder=field.label.text, class_='form-control') }}
		{% endfor %}
	</form>

	<h1>Entries</h1>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>IP</th>
				<th>Port</th>
				<th>Online</th>
			</tr>
		</thead>
		<tbody>
			{% for entry in stream %}
				<tr>
					<td>{{ entry.name }}</td>
					<td>{{ entry.ip }}</td>
					<td>{{ entry.port }}</td>
					<td>{{ entry.online}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>