.port, .ip {
	font-family: monospace;
}

/* Field errors */
.fielderror {
	color: #c0392b;
}

/* Flashes */
.flash-message {
	margin-top:20px;
}

.online {
	color:#7f8c8d;
}

footer {
	margin-bottom: 30px !important;
	color:#7f8c8d !important;
}

#refresh, #info, #show, #hide {
	color: #337ab7 !important;
	text-decoration: none !important;
}

#refresh:hover, #info:hover, #show:hover, #hide:hover {
	text-decoration: underline !important;
	cursor: pointer !important;
}

#export-content {
	font-family: monospace;
	word-wrap:break-word !important;
}